<h2>User info</h2>
  <%= form_with model:@user, url: user_path(@user.id), method: :patch do |f| %>
   <div class="form-group">
     <%= f.label :name, "name" %>
     <%= f.text_field :name %>
   </div>
   <div class ="form-group">
     <%= f.label :profile_image, "Image" %>
     <%= f.file_field :profile_image, accept: "image/*" %>
   </div>
   <div class = "form-group">
     <%= f.label :introduction, "Introduction" %>
     <%= f.text_area :introduction %>
   </div>
   <div class = "font-group">
     <%= f.submit 'Update User' %>
   </div>
  <% end %>