<h2>User info</h2>
  <%= form_with model:@user_image, url '/users', method: :post do |f| %>
   <div class="form-group">
     <%= f.label :user_name, "name" %>
     <%= f.text_field :name %>
   </div>
   <div class ="form-group">
     <%= f.label :user_image, "Image" %>
     <%= f.file_field :image, accept: "image/*" %>
   </div>
   <div class = "form-group">
     <%= f.label :user_introduction, "Introduction" %>
     <%= f.text_area :introduction %>
   </div>
   <div class = "font-group">
     <%= f.submit 'Update User' %>
   </div>
