<body>
 <div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
    <h2>User info</h2>
     <table class = "table">
       <tbody>
        <tr>
            <%= image_tag current_user.get_profile_image(100,100) %>
        </tr>
        <tr>
         <th>name</th>
         <th><%= current_user.name %></th>
        </tr>
        <tr>
         <th>introduction</th>
         <th><%= current_user.introduction %></th>
        </tr>
       </tbody>
     </table>
     <div class="row">
         <%= link_to edit_user_path(current_user.id), class: 'btn btn-outline-secondary btn-block' do %>
          <i class="fas fa-user-cog"></i>
         <% end %>
     </div>
     <%= render 'books/side', book: @book %>
   </div>

   <div class="col-md-8 offset-md-1">
       <h2>Users</h2>
        <table class = "table">
          <thead>
            <tr>
              <th></th>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100,100) %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user.id) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
   </div>
  </div>
 </div>
</body>
