<body>
 <div class="container px-5 px-sm-0">
  <div class"row">
   <div class="col-md-3">
    <h2>User info</h2>
     <table>
       <tbody>
        <tr>
            <%= image_tag @user.get_profile_image(100,100) %>
        </tr>
        <tr>
         <th>name</th>
         <th></th>
        </tr>
        <tr>
         <th>introduction</th>
         <th></th>
        </tr>
       </tbody>
     </table>
     <div class="row">
         <%= link_to "edit", edit_user_path(@user.id) %>
     </div>



    <h2>New Book</h2>
    <%= form_with model:@book, url: '/books', method: :post do |f| %>
     <div class="form-group">
        <%= f.label :book_title, "Title" %>
        <%= f.text_field :title %>
     </div>
     <div class ="form-group">
        <%= f.label :book_opinion, "Opinion" %>
        <%= f.text_area :opinion %>
     </div>
     <div class= "form-group">
        <%=f.submit 'Create Book' %>
     </div>
    <% end %>
   </div>


   <div class="col-md-8 offset-md-1">
       <h2>Book detail</h2>
        <table>
          <tbody>
            <tr>
              <td><%#ユーザー画像呼び出し %></td>
              <td><%#ユーザーshowのリンク %></td>
              <td>
                  <%= @books.title %>
                  <%# bookのshowリンク %>
              </td>
              <td><%= @books.opinion %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
   </div>
  </div>
 </div>
</body>
